body {
  padding: 0px;
  margin: 0px;
  background-color: #100E1D;
}

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
}

.current-weather-bg {
  max-width: 100%;
  opacity: 0.09;
  position: absolute;
  left: -70px;
  top: 50px;

}
section.weather-highlights { 
  background-color: #100E1D;
  z-index: 1;
  width: 70%;
  height: 100%;
  color: #fff;

}

section.weather-forecast {
  display: flex;
  justify-content: center;
  gap: 25px;
}
section.current-weather {
  width: 30%;
  height: 100%;
  color: #fff;
  background-color: #1E213A;
  font-family: Arial, Helvetica, sans-serif;
}

h1.current-temp {
  font-size: 4rem;
  font-weight: bold;
}

div.forecast > span.temp-unit { 
  font-size: 1.5rem;
}

img.current-weather-icon {

  max-width: 100%;
}

div.current-weather-details { 
  font-weight: bold;
}
div.weather-icon {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: end;
}

div.current-weather-details { 
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 45%;

}

p.location {
  display: flex;
  width: 100px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  
}

section.current-weather > header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.weather-highlights > header {
  height: 50px;
  width: 90%;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;

}

header.temp-units > button {
  background-color: #6E707A;
  color: #E7E7EB;
  cursor: pointer;
  height: 40px;
  text-align: center;
  border: 1px solid #6E707A;
  border-radius: 50%;
  width: 40px;
  font-size: 1.1rem;
  font-weight: bold;
}

header.current-location > button{
  background-color: #6E707A;
  color: #E7E7EB;
  cursor: pointer;
  height: 40px;
  text-align: center;
  border: 1px solid #6E707A;
  display: flex;
  justify-content: center;
  align-items: center;
}


button.search-location {
  padding: 10px 20px;

}

button.current-location {
  border-radius: 50%;
  width: 40px;
}

div.forecast > div.weather-icon > img {
  width: 50px;
}

div.forecast {
  background-color: #1E213A;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section.today-highlights {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section.today-highlights > h1 {
  font-size: 1.5rem;
  align-self: start;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

div.highlights {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: repeat(2, 187px);
  gap: 0.5rem;

}

div.highlights > div {
  background-color: #1E213A;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;

}

div.highlights > div > p {
  font-family: Arial, Helvetica, sans-serif;
}

div.humidity-values, div.humidity-percentage, div.humidity-bar {
  display: block;
  font-size: 0.8rem;
  width: 70%;
}

div.humidity-values {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  padding-left: 5px;
}

div.humidity-percentage {
  display: flex;
  justify-content: end;
  margin-block-end: 1rem;
  margin-right: 5px;
}


div.humidity-bar {
  background: #fff;
  height: 8px;
  border-radius: 10px;
  background-image: linear-gradient(to right, yellow 84%, rgba(0,0,0,0) 84%); 
}

div.highlights > div > p {
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}

div.highlights > div > h3 {
  font-size: 1rem;

}

footer {
  text-align: center;
  padding: 10px;
}

footer > a {
  text-decoration: none;
  font-style: italic;
  color: aqua;
  
}